@import "tailwindcss";

@theme {
  --color-primary: #11664f;
  --color-secondary: #9e141e;
  --color-background-light: #f8fafc;
  --color-background-dark: #0f172a;

  --font-display: "Hind Siliguri", sans-serif;
  --font-body: "Hind Siliguri", sans-serif;

  --radius-default: 0.5rem;
}

html {
  scroll-behavior: smooth;
}
