@import "tailwindcss";

@theme {
  --color-primary: #0a8a48;
  --color-secondary: #e63946;
  --color-background-light: #f8fafc;
  --color-background-dark: #0f172a;

  --font-display: "Hind Siliguri", sans-serif;
  --font-body: "Hind Siliguri", sans-serif;

  --radius-default: 0.5rem;
}

html {
  scroll-behavior: smooth;
}
